<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wepost here</title>
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    {% include 'navigation.html' %}
            <div class="container">
            <div class="row">
                <div class="col-sm-offset-2 col-md-9">

                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <h4>Wepost change password</h4>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" method="POST" action="{% url 'account_change_password' %}">
                                {% csrf_token %}
                                {{ form.errors }}
                                <div class="form-group form-group-lg">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Old</label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" name="oldpassword" id="inputEmail3" placeholder="old password">
                                    </div>
                                </div>

                                <div class="form-group form-group-lg">
                                    <label for="inputPassword3" class="col-sm-3 control-label">New</label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" name="password1" id="inputPassword1" placeholder="new password">
                                    </div>
                                </div>

                                <div class="form-group form-group-lg">
                                    <label for="inputPassword3" class="col-sm-3 control-label">Again</label>
                                    <div class="col-sm-7">
                                        <input type="password" name="password2" class="form-control" id="inputPassword3" placeholder="new password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-5 col-sm-7">
                                        <button type="submit" class="btn btn-lg btn-danger">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <script src="/static/jquery-3.6.0/jquery-3.6.0.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</body>
</html>