{% extends 'base.html' %}
{% load static %}

{% block scope_css_block %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock scope_css_block %}

{% block body_block %}
<div class="text-center">
  <form class="form-signin" method="post">
    {% csrf_token %}
    {{ form.errors }}
    <img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
    <label for="inputEmail3" class="sr-only">Old password</label>
    <input type="password" class="form-control" name="oldpassword" id="inputEmail3" placeholder="old password">
    
    <label for="inputPassword3" class="sr-only">New Password</label>
    <input type="password" class="form-control" name="password1" id="inputPassword1" placeholder="new password">

    <label for="inputPassword3" class="sr-only">Password Again</label>
    <input type="password" name="password2" class="form-control" id="inputPassword3" placeholder="new password">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
</div>
{% endblock body_block %}