{% extends 'base.html' %}
{% load static %}

{% block scope_css_block %}
  {% comment %} <link rel="stylesheet" href="{% static 'css/profile.css' %}" /> {% endcomment %}
{% endblock scope_css_block %}

{% block body_block %}
<div class="container mt-2">
  <div class="card">
    <div class="row card-body">
      <div class="col-sm-4">
        <img src="{{ MEDIA_URL }}{{ profile_user.userprofile.header_img }}" class="img-fluid" alt="avatar" />
      </div>
      <div class="col-sm-6">
        <h2>{{ profile_user.username }}</h2>
        <small>Gender: {{ profile_user.userprofile.get_gender_display }}</small>
        <br />
        <small>Birthday: {{ profile_user.userprofile.birthday }}</small>
        <br />
        <p>Intro: {{ profile_user.userprofile.intro }}</p>
      </div>
    </div>
  </div>
  
  <div class="card mt-4">
    <div class="card-header">
      <ul class="nav nav-pills">
          <li class="nav-item">
            <label id="posts_page" class="nav-link active" onclick="load_content({{profile_user.id}}, 'posts')">
              Post({{ profile_user.userprofile.posts }})
            </label>
          </li>
          <li class="nav-item">
            <label id="following_page" class="nav-link" onclick="load_content({{profile_user.id}}, 'following')">
              Following({{ profile_user.userprofile.following }})
            </label>
          </li>
          <li class="nav-item">
            <label id="followers_page" class="nav-link" onclick="load_content({{profile_user.id}}, 'followers')">
              Followers({{ profile_user.userprofile.followers }})
            </label>
          </li>
      </ul>
    </div>
    {% csrf_token %}
    <div class="card-body">
      <div id="content">
        
      </div>
    </div>
  </div>
</div>
{% endblock body_block %}

{% block scope_script_block %}
  <script src="{% static 'js/user_profile.js' %}"></script>
  <script>
    $(document).ready(function() {
      load_content({{profile_user.id}}, 'posts');
    })
  </script>
{% endblock scope_script_block %}