.card-columns {
    @include media-breakpoint-only(sm) {
        column-count: 2;
    }
    @include media-breakpoint-only(md) {
        column-count: 3;
    }
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

.img-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.img-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.text-uname {
    font-size: 1.25rem;
}