{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title_block %}
  Post Edit
{% endblock title_block %}

{% block body_block %}
<div class="container">
  <form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">OK</button>
    <button type="reset" class="btn btn-primary">Reset</button>
    {% comment %} {% buttons submit='OK' reset="Reset" %}{% endbuttons %} {% endcomment %}
  </form>
</div>
{% endblock body_block %}