{% load static %}

{% for profile_user in profile_users %}
<div class="card mt-2">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-fluid img-thumbnail rounded-circle" src="{{ MEDIA_URL}}{{ profile_user.userprofile.header_img }}" />
    </div>
    <div class="col-sm-7">
      <a href="{% url 'signuser:user_profile' profile_user.id %}"></a><h3 class="my-2">{{ profile_user.username }}</h3>
      <div>{{ profile_user.userprofile.intro }}</div>
      <br />
      <div>Posts: {{ profile_user.userprofile.posts }}</div>
      <div>Follower: {{ profile_user.userprofile.followers }}</div>
      <div>Following: {{ profile_user.userprofile.following }}</div>
    </div>
  </div>
</div>
{% endfor %}